{% extends "network/layout.html" %}

{% load static %}


{% block body %}

    <h1>Edit your profile</h1>

    <form action="{% url 'editProfile' userName %}" method="post">
        {% csrf_token %}

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div>
            <label for="pfp">Profile Picture</label>
            <input type="file" name="profile_picture">
        </div>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ username }}">
        </div>

        <div>
            <label for="bio">Bio</label>
            <input type="text" id="bio" name="bio" value="{{ bio }}">
        </div>


        <button type="submit">Save Changes</button>

    </form>



{% endblock %}