{% extends "network/layout.html" %}

{% load static %}

<!--This will just display all posts-->

{% block body %}
    <script src="{% static 'network/network.js' %}"></script>
    
    <h1>All Posts</h1>

    <div class="post">

        <h5>New Post</h5>

        <form action="{% url 'newPost' %}" method="POST" style="margin: 0;">
            {% csrf_token %}

            <textarea id="postContent" rows="2" style="width: 60%;" placeholder="Write your post here..."></textarea>
            <br>
            <button id="submitPost">Submit</button>
            
        </form>

    </div>

    {% for post in posts %}
        <div class="post">
            <h5>{{ post.title }}</h5>
            <p>{{ post.content }}</p>
            <p style="color: rgb(71, 64, 64);">Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
            
            <p style="display: flex; align-items: center; margin: 0;">

                <button class="likeButton" data-id="{{ post.id }}">
                    <span style="font-size: 24px; margin-right: 8px; vertical-align: middle;">❤️</span>
                </button>
                
                <span style="line-height: 30px;" id="likeCount-{{ post.id }}">{{ post.likes.count }}</span>
            </p>

            <p>Comments: {{ post.comments.count }}</p>
        </div>
    {% endfor %}

{% endblock %}