{% extends "network/layout.html" %}

{% load static %}

<!--This will just display all posts-->

{% block body %}
    <script src="{% static 'network/network.js' %}"></script>
    
    <h1>All Posts</h1>

    <div class="post">

        <h5>New Post</h5>

        <form action="{% url 'newPost' %}" method="POST" style="margin: 0;">
            {% csrf_token %}

            <input id="postContent" autofocus type="text" name="title" placeholder="Title">
            <br>
            <br>
            <textarea id="postContent" rows="2" style="width: 60%;" name="content" placeholder="Write your post here..."></textarea>
            <br>
            <button id="submitPost" type="submit">Submit</button>
        </form>

    </div>

    {% for post in posts %}
        <div class="post">
            <h5 id="postTitle-{{ post.id }}">{{ post.title }}</h5>
            <p id="postContent-{{ post.id }}">{{ post.content }}</p>
            <p id="postInfo-{{ post.id }}" style="color: rgb(71, 64, 64);">Posted by <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a> on {{ post.timestamp }}</p>
            <p style="display: flex; align-items: center; margin: 0;">

                <button class="likeButton" data-id="{{ post.id }}" id="likeButton-{{ post.id }}">
                    <span style="font-size: 24px; margin-right: 8px; vertical-align: middle;">❤️</span>
                </button>
                
                <span style="line-height: 30px;" id="likeCount-{{ post.id }}">{{ post.likes.count }}</span>
            </p>

            <p id="comments-{{ post.id }}">Comments: {{ post.comments.count }}</p>



            {% if request.user == post.user %}
                <button id="editButton-{{ post.id }}" class="editButton" data-id="{{ post.id }}" style="margin-left: 5px; color: rgb(53, 53, 167);">  Edit Post ✏️</button>
                <button id="saveButton-{{ post.id }}" class="saveButton" data-id="{{ post.id }}" style="margin-left: 5px; color: rgb(53, 53, 167); display: none; " >  Save Changes</button>
            {% endif %}



        </div>
    {% endfor %}

    <hr>
    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}
    
        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
    
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
    <br>
    <p></p>

{% endblock %}