{% extends "network/layout.html" %}

<!--This will just display all posts-->

{% block body %}
    <h1>New Post</h1>

    <div class="post">

        <form action="{% url 'newPost' %}" method="POST" style="margin: 0;">
            {% csrf_token %}

            <input id="postContent" autofocus type="text" name="title" placeholder="Title">
            <br>
            <br>
            <textarea id="postContent" rows="2" style="width: 60%;" name="content" placeholder="Write your post here..."></textarea>
            <br>
            <button id="submitPost" type="submit">Submit</button>
        </form>
        
    </div>

{% endblock %}