{% extends "network/layout.html" %}

<!--This will just display all posts-->

{% block body %}
    <h1>All Posts</h1>

    <div class="post">
        <h5>New Post</h5>

        <form action="{% url 'newPost' %}" method="POST" style="margin: 0;"></form>
            {% csrf_token %}

            <textarea id="postContent" rows="2" style="width: 60%;" placeholder="Write your post here..."></textarea>
            <br>
            <a href=""><button id="submitPost">Submit</button></a>
        </form>

    </div>

{% endblock %}