{% extends "network/layout.html" %}

{% load static %}


{% block body %}
    
    <script src="{% static 'network/network.js' %}"></script>

    <div style="display: flex; align-items: center; gap: 20px;">
        <div>
            {% if pfp %}
                <img src="{{ pfp.url }}" alt="Profile Picture" style="width: 300; height: 300px;">
            {% else %}
                <p>No profile picture available.</p>
            {% endif %}
        </div>
        <div>
            <h1>Hello {{ userName|capfirst }}</h1>
            
            <p>{{bio}}</p>   

            <hr>
            <div style="display: flex; justify-content: space-between; gap: 20px;">
                <div>
                    <h6><a>Followers {{ followerCount }}</a></h6>
                </div>
                <div>
                    <h6><a>Following {{ followingCount }}</a></h6>
                </div>
            </div>
            
        </div>
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'editProfile' userName %}">
            <button>Edit Profile</button>
        </a>
    {% else %}
        <a href="">
            <button>Edit Profile</button>
        </a>

        <a href="">
            <button>Edit Profile</button>
        </a>
    {% endif %}


 
    <hr>
    <br>

    <h2>Posts</h2>

    {% for post in posts %}
        <div class="post">
            <h5 id="postTitle-{{ post.id }}">{{ post.title }}</h5>
            <p id="postContent-{{ post.id }}">{{ post.content }}</p>
            <p id="postInfo-{{ post.id }}" style="color: rgb(71, 64, 64);">Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
            <p style="display: flex; align-items: center; margin: 0;">

                <button class="likeButton" data-id="{{ post.id }}" id="likeButton-{{ post.id }}">
                    <span style="font-size: 24px; margin-right: 8px; vertical-align: middle;">❤️</span>
                </button>
                
                <span style="line-height: 30px;" id="likeCount-{{ post.id }}">{{ post.likes.count }}</span>
            </p>

            <p id="comments-{{ post.id }}">Comments: {{ post.comments.count }}</p>



            {% if request.user == post.user %}
                <button id="editButton-{{ post.id }}" class="editButton" data-id="{{ post.id }}" style="margin-left: 5px; color: rgb(53, 53, 167);">  Edit Post ✏️</button>
                <button id="saveButton-{{ post.id }}" class="saveButton" data-id="{{ post.id }}" style="margin-left: 5px; color: rgb(53, 53, 167); display: none; " >  Save Changes</button>
            {% endif %}



        </div>
    {% endfor %}
    

{% endblock %}