/* Add a few pixels of margin to everything on the left */
* {
    margin-left: 5px;
}

button {
    margin: 5px 0; /* 5px top and bottom, 0px left and right */
}

img {
    margin: 10px 0 0 0; /* 5px top, 0px right, 0px bottom, 0px left */
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #42a2c8; /* Light blue color */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 12px; /* Rounded edges */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
    background-color: #c42fcc; /* Slightly darker blue on hover */
}

.likeButton {
    all: unset;
    outline: none; 
}

.likeButton:hover {
    transform: scale(1.4);
    transition: transform 0.2s ease;
    outline: none; 
    background-color: #ffffff;
}

.likeButton:focus {
    outline: none; 
}

.message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}